/* cammon class */
h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;

}

body {
    font-family: "Roboto", sans-serif;
    color: var(--headre-adress-link);
    background-color: var(#FFFFFF);
}

button {
    border: none;
    cursor: pointer;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding-right: 16px;
    padding-left: 16px;
}




.link {
    text-decoration: none;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}




:root {
    --button-bg-color: #F4F4FD;
    --portfolio-header-color: #2e2f42;
    --header-background: #FFFFFF;
    --header-link-hf: #404BBF;
    --headre-adress-link: #434455;
    --header-logo-main: #4D5AE5;
    --border-portfolio: #e7e9fc;
    --customers-link-color: #8e8f99;
    --Color-link1: #31d0aa;
}

/* HERO!!! */

.container {
    max-width: 428px;
    padding: 0 16px;
    margin: 0 auto;
    width: 100%;
}




.hero-greetings {

    display: block;
    font-weight: 700;
    max-width: 320px;
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--header-background);
    margin: 0 auto 72px;
}


.hero {
    background: var(--portfolio-header-color);
    padding-top: 112px;
    padding-bottom: 112px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 428px;
    margin: 0 auto;

}


.hero-button {
    display: block;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--header-background);
    background-color: var(--header-logo-main);
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin: auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}



/* Section №2 skill */

.skill {

    padding-top: 96px;
    padding-bottom: 96px;
}


.skill-list {

    display: flex;
    flex-wrap: wrap;
    gap: 72px;


}

.skill-item {

    max-width: 396px;
}


@media screen and (max-width: 1157px) {
    .img-sectiontwo-svg {
        display: none;
    }
}

svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}

.skill-section {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: var(--portfolio-header-color);
    margin-bottom: 8px;


}


.skill-description {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-first);
}




@media screen and (max-width: 1157px) {
    .activities {
        display: none;
    }
}



/* Секция команда!!! */

.good-guys {
    background-color: var(--button-bg-color);
    padding-top: 96px;
    padding-bottom: 96px;

}

section {
    display: block;
}

.team {

    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--portfolio-header-color);
    margin-bottom: 72px;

}

.team-list {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 72px;


}