body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

img {
    display: block;
}

:root {
    --button-bg-color: #F4F4FD;
    --portfolio-header-color: #2e2f42;
    --header-background: #FFFFFF;
    --header-link-hf: #404BBF;
    --headre-adress-link: #434455;
    --header-logo-main: #4D5AE5;
    --border-portfolio: #e7e9fc;
    --customers-link-color: #8e8f99;
    --Color-link1: #31d0aa;
}


.list {
    list-style: none;

}

.link {
    text-decoration: none;
}


.header {
    background: var(--header-background);
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}



.header-link {

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--portfolio-header-color);
    padding: 24px 0;
    display: block;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.header-link:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: #404BBF;
    border-radius: 2px;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);




}

.header-link:hover:after,
.header-link:focus:after,
.header-link.current:after {
    opacity: 1;




}






.header-link:hover,
.header-link:focus,
.header-link.current {
    color: var(--header-link-hf);

}

.header-address {
    font-style: normal;
    margin-left: auto;
}








.headre-adress-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--headre-adress-link);
    font-family: 'Roboto';
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.headre-adress-link:hover,
.headre-adress-link:focus {
    color: var(--header-link-hf);


}


.header-logo-main {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--header-logo-main);
    margin-right: 76px;
    display: inline-block;

}

.header-logo-footer {

    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--header-logo-main);
    margin-bottom: 16px;
    display: inline-block;




}








.header-logo-color {
    color: var(--portfolio-header-color);
}

/* SECTION 1 */

.hero {
    background: var(--portfolio-header-color);
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    margin: 0 auto;

}

.hero-greetings {

    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--header-background);
    max-width: 496px;
    margin: auto;
    margin-bottom: 48px;


}

.hero-button {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--header-background);
    background-color: var(--header-logo-main);
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin: auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}


.hero-button:hover,
.hero-button:focus {
    background-color: var(--header-link-hf);
    border: none;
}

/* Section 2 */

.skill-section {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--portfolio-header-color);
    margin-bottom: 8px;
}


.skill-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--headre-adress-link);
}

/* Section 3 */

.activities-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--portfolio-header-color);
    margin-bottom: 72px;
}

/* Section 4 */


.good-guys {

    background: var(--button-bg-color);
    padding: 120px 0;

}



.team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--portfolio-header-color);
    margin-bottom: 72px;


}


.team-employee {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--portfolio-header-color);
    text-align: center;
    margin-bottom: 8px;
}

.team-direction {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--headre-adress-link);
    text-align: center;
    margin-bottom: 8px;

}


.team-item {
    background-color: var(--header-background);
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}


/* FOOTER */

.footer {
    background: var(--portfolio-header-color);
    padding: 100px 0;

}


.footer-information {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--button-bg-color);
    width: 264px;
}

.footer-logo-color {

    color: var(--button-bg-color);
}

/* PORTFOLIO */

.portfolio-button {

    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--header-logo-main);
    background-color: var(--button-bg-color);
    padding: 12px 24px;
    border: 1px solid var(--border-portfolio);
    border-radius: 4px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);



}

.portfolio-button:hover,
.portfolio-button:focus {
    color: var(--header-background);
    background: var(--header-link-hf);
    cursor: pointer;
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-header {

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--portfolio-header-color);
    margin-bottom: 8px;


}

.portfolio-paragraph {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--headre-adress-link);

}



.portfolio-link {
    text-decoration: none;
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);


}


.portfolio-link:hover,
.portfolio-link:focus {

    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    transform: translateY(0%);
}


.portfolio-link:focus .portfolio-color-text {
    transform: translate(0, 0);


}




p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;

}


.header-container {
    display: flex;
    align-items: center;

}


.header-navigation {
    display: flex;
    align-items: center;

}


.header-list {
    display: flex;
    align-items: center;
    gap: 40px;

}


.address-list {
    display: flex;
    gap: 40px;
}

.skill {
    padding: 120px 0;

}


.skill-list {
    display: flex;
    gap: 24px;
}


.skill-item {

    width: calc((100% - 72px) / 4);

}


.activities {

    padding-bottom: 120px;

}

.activities-list {

    display: flex;
    gap: 24px;

}

.activities-item {

    width: calc((100% - 48px) / 3);
}

.team-list {
    display: flex;
    gap: 24px;

}

.team-box {

    padding: 32px 16px;

}

.portfolio {

    padding: 96px 0 120px;
}

.portfolio-list {
    display: flex;
    gap: 24px;
    margin-bottom: 72px;
    justify-content: center;

}

.portfolio-programm-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;

}

.portfolio-programm-item {
    width: calc((100% - 48px) / 3);


}

.portfolio-programm-item:hover .portfolio-color-text,
.portfolio-programm-item:focus .portfolio-color-text {
    transform: translateY(0);



}





.box-name-portfolio {

    padding: 32px 16px;
    border: 1px solid var(--border-portfolio);
    border-top: none;

}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;


}


/* SVG section 2 */

.img-sectiontwo-svg {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
}

.team-list-icon {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-item-icon {

    width: 40px;
    height: 40px;



}

.team-link-icon {
    background-color: var(--header-logo-main);
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);



}

.team-link-icon:hover,
.team-link-icon:focus {
    background-color: var(--header-link-hf);
}

.team-svg-icon {
    fill: var(--button-bg-color);
}



/* Секция №5 */


.cust {
    padding: 120px 0;

}

.customers-list {
    display: flex;
    gap: 24px;



}

.customers-item {

    width: calc((100% - 120px) / 6);
    height: 88px;

}

.customers-link {
    width: 100%;
    height: 100%;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--customers-link-color);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}


.customers-link:hover,
.customers-link:focus {
    border-color: var(--header-link-hf);
    color: var(--header-link-hf);


}




.customers-svg {

    fill: currentColor;
}







.wtf-footer {
    display: flex;
    align-items: baseline;

}



.social-media {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--header-background);
    margin-bottom: 16px;
    max-width: 264px;
}


.social-media-list {
    display: flex;
    gap: 16px;
}


.social-media-item {

    width: 40px;
    height: 40px;


}


.social-media-link {

    width: 100%;
    height: 100%;
    background-color: var(--header-logo-main);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.social-media-link:hover,
.social-media-link:focus {
    background-color: var(--Color-link1);


}


.model-close:hover,
.model-close:focus {

    fill: #ffffff;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}







.social-media-svg {

    fill: var(--button-bg-color);

}

.footer-span-and {
    margin-right: 120px;

}



/*    */

.portfolio-color-text {

    position: absolute;
    top: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    padding: 40px 32px;
    background-color: var(--header-logo-main);
    height: 100%;
    transform: translateY(100%);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);


}

.portfolio-color-wrap {
    position: relative;
    overflow: hidden;


}




/* Модальное окно!! */


.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    top: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);


}

.modal {

    width: 408px;
    min-height: 584px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    padding: 72px 24px 24px 24px;


}


.model-close {

    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);


}

.model-close:hover,
.model-close:focus {
    background-color: var(--header-link-hf);
    border: none;

}




.is-hidden {

    opacity: 0;
    pointer-events: none;
    visibility: hidden;

}


/* .bcg-img {

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);


} */

/* Модальное окно - НАПОЛНЕНИЕ !! */

.modal-title {
    Font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 16px;

}


.text-fill {

    margin-bottom: 8px;


}

.text-comment {
    margin-bottom: 16px;

}


.label-name {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--customers-link-color);
    display: block;
    margin-bottom: 4px;




}

.text-row {

    position: relative;

}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);



}

.modal-input:focus {
    border-color: #4D5AE5;

}

.modal-input:focus+.modal-icons {
    fill: #4D5AE5;
}

.modal-icons {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: var(--portfolio-header-color);

}


.model-comment {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.model-comment:focus {

    border-color: #4D5AE5;
}


.privite-setting {

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--customers-link-color)
}



.private-part {

    margin-bottom: 24px;

}

.check-text {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--customers-link-color);


}

.modal-span-svg {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;

}






input:checked+label>span {
    background-color: var(--header-link-hf);
    border: none;
    fill: var(--button-bg-color);

}

.privacy-link {

    color: var(--header-logo-main);
    text-decoration: underline;

}

.send {
    display: block;
    min-width: 169px;
    height: 56px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: var(--header-logo-main);
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0 auto;


}

.send:hover,
.send:focus {

    background-color: var(--header-link-hf);
    border: none;

}


/* Футер №6 */

.subscribe-text {
    margin-bottom: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;

}

.subscribe-inf {
    display: flex;
    gap: 24px;

}


.svg-button-sub {
    margin-left: 16px;

}


.subscriber-button-sub {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.subscriber-button-sub:hover,
.subscriber-button-sub:focus {
    background-color: var(--header-link-hf);
    border: none;



}


.footer-input {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: #ffffff;



}

.footer-input::placeholder {
    color: #ffffff;
}



.subscribe-box {
    margin-left: 80px;
}