/* cammon class */
h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;

}

body {
    font-family: "Roboto", sans-serif;
    color: var(--headre-adress-link);
    background-color: var(#FFFFFF);
}

button {
    border: none;
    cursor: pointer;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding-right: 16px;
    padding-left: 16px;
}




.link {
    text-decoration: none;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}




:root {
    --button-bg-color: #F4F4FD;
    --portfolio-header-color: #2e2f42;
    --header-background: #FFFFFF;
    --header-link-hf: #404BBF;
    --headre-adress-link: #434455;
    --header-logo-main: #4D5AE5;
    --border-portfolio: #e7e9fc;
    --customers-link-color: #8e8f99;
    --Color-link1: #31d0aa;
}

/* HERO!!! */

.hero-button {
    display: block;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--header-background);
    background-color: var(--header-logo-main);
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin: auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}


.hero-button:hover,
.hero-button:focus {
    background-color: var(--header-link-hf);
}


.container {
    max-width: 428px;
    padding: 0 16px;
    margin: 0 auto;
    width: 100%;
}


.hero {


    background-color: var(--portfolio-header-color);
    padding-top: 112px;
    padding-bottom: 112px;

}

.overlay {
    max-width: 767px;
    margin-left: auto;
    margin-right: auto;
    background-image:
        linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/background/m-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .overlay {
        background-image:
            linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/background/m-bg@2x.jpg);
    }
}

.hero-greetings {

    display: block;
    font-weight: 700;
    max-width: 320px;
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--header-background);
    margin: 0 auto 72px;


}














































/* Section №2 skill */

.skill {

    padding-top: 96px;
    padding-bottom: 96px;
}


.skill-list {

    display: flex;
    flex-wrap: wrap;
    gap: 72px;


}

.skill-item {

    max-width: 396px;
}


@media screen and (max-width: 1157px) {
    .img-sectiontwo-svg {
        display: none;
    }
}

svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}

.skill-section {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: var(--portfolio-header-color);
    margin-bottom: 8px;


}


.skill-description {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-first);
}




@media screen and (max-width: 1157px) {
    .activities {
        display: none;
    }
}



/* Секция команда!!! */

.good-guys {
    background-color: var(--button-bg-color);
    padding-top: 96px;
    padding-bottom: 96px;

}

section {
    display: block;
}

.team {

    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--portfolio-header-color);
    margin-bottom: 72px;

}

.team-list {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 72px;


}

.team-item {

    background-color: var(--header-background);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px px;
    max-width: 100%;
}

.team-box {

    padding: 32px 16px;

}

.team-employee {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--portfolio-header-color);
    text-align: center;
    margin-bottom: 8px;

}

.team-direction {

    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--headre-adress-link);
    margin-bottom: 8px;


}

.team-list-icon {

    display: flex;
    justify-content: center;
    gap: 24px;

}

.team-item-icon {

    width: 40px;
    height: 40px;
    border-radius: 50%;

}

.team-link-icon {


    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--header-logo-main);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.team-svg-icon {

    fill: var(--button-bg-color);


}

.team-link-icon:hover,
.team-link-icon:focus {
    background-color: var(--header-link-hf);
}


/*  section Customers!!!! */

.cust {

    padding-top: 96px;
    padding-bottom: 96px;
}

.team {

    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--portfolio-header-color);
    margin-bottom: 72px;
}

.customers-list {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px 16px;

}

.customers-item {

    border-radius: 4px;
    width: calc((100% - 16px) / 2);
    height: 88px;
    color: currentColor;

}

.customers-link {

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8E8F99;
    color: #8E8F99;
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-svg {

    fill: currentColor;


}



/* FOOTER!!! */

.footer {

    background-color: var(--portfolio-header-color);
    padding-top: 96px;
    padding-bottom: 96px;


}

.footer-span-and {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 72px;

}

.header-logo-footer {
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--header-logo-main);
    margin-bottom: 16px;


}

.footer-logo-color {
    color: var(--button-bg-color);

}

.footer-information {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--button-bg-color);
    max-width: 268px;



}

.social-media-fot {

    margin-bottom: 72px;

}

.social-media {

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--header-background);
    margin-bottom: 16px;
    text-align: center;


}

.social-media-list {

    display: flex;
    justify-content: center;
    gap: 16px;


}

.social-media-item {
    width: 40px;
    height: 40px;
    border-radius: 50%;


}

.social-media-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--header-logo-main);


}

.subscribe-box {
    margin-left: auto;

}

.subscribe-text {

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--header-background);
    margin-bottom: 16px;
    text-align: center;


}

.subscribe-in {
    display: block;
    margin-bottom: 16px;

}

.footer-input {

    display: inline-block;
    padding-left: 16px;
    width: 100%;
    height: 40px;
    border: 1px solid var(--header-background);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    color: var(--header-background);
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;



}

.subscriber-button-sub {

    display: flex;
    margin: 0 auto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--header-background);
    background: var(--header-logo-main);
    border-radius: 4px;
    width: 165px;
    height: 40px;
    padding: 8px 24px;



}

.svg-button-sub {

    fill: var(--header-background);
    margin-left: 16px;


}


/* header!!! */

.header {


    padding-top: 24px;
    padding-bottom: 24px;
    box-shadow:
        0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
    border-bottom: 1px solid var(--border-portfolio);



}

.header-container {

    display: flex;
    align-items: center;


}

.header-logo-main {

    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--header-logo-main);
    margin-right: auto;


}

.header-logo-color {

    color: var(--portfolio-header-color);

}

.header-menu-btn {

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    margin-left: auto;

}


.header-menu-svg {

    stroke: var(--portfolio-header-color);

}


/* MODAL!!! */


.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;

}


.modal {
    position: absolute;
    max-width: 392px;
    width: 100%;
    min-height: 584px;
    padding: 72px 16px 24px 16px;
    background: #FCFCFC;
    box-shadow:
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.model-close {

    position: absolute;
    background: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    top: 24px;
    right: 24px;
    padding: 0;
    transition:
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);


}

.bcg-img {

    fill: var(--portfolio-header-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);


}

.model-close:hover,
.model-close:focus {
    border: none;
    background-color: var(--header-link-hf);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}


.model-close:hover .bcg-img,
.model-close:focus .bcg-img {
    fill: var(--header-background);

}

.modal-title {

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--portfolio-header-color);
    margin-bottom: 16px;



}

.modal-form {

    display: block;

}

.text-fill {

    margin-bottom: 8px;

}

.label-name {

    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--customers-link-color);
    margin-bottom: 4px;

}

.text-row {

    position: relative;
    display: block;

}

.modal-input {

    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding-left: 38px;
    padding-right: 20px;
    outline: transparent;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);



}

.modal-input:focus {

    border-color: var(--header-logo-main);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));


}

.modal-icons {

    position: absolute;
    fill: var(--portfolio-header-color);
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);



}

.modal-input:focus+.modal-icons {

    fill: var(--header-logo-main);

}