:root {
    --button-bg-color: #F4F4FD;
    --portfolio-header-color: #2e2f42;
    --header-background: #FFFFFF;
    --header-link-hf: #404BBF;
    --headre-adress-link: #434455;
    --header-logo-main: #4D5AE5;
    --border-portfolio: #e7e9fc;
    --customers-link-color: #8e8f99;
    --Color-link1: #31d0aa;
}


/* HERO!!! */

.container {
    max-width: 768px;


}

.hero-greetings {


    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--header-background);

}

.hero {
    background: var(--portfolio-header-color);
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 768px;
    margin: 0 auto;

}






/* Section №2 skill */


.skill-list {

    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;



}


.skill-item {

    width: calc((100% - 24px) / 2);

    max-width: 396px;


}

.skill-section {
    text-align: start;
}



/* Секция команда!!! */

.team-list {

    gap: 64px 24px;


}








/*  section Customers!!!! */

.customers-list {

    gap: 72px 24px;

}

.customers-item {

    width: calc((100% - 48px) / 3);

}



/* FOOTER!!! */




.footer-Xbox {
    display: flex;
    gap: 24px;
    margin-bottom: 72px;
}

.header-logo-footer {


    margin-bottom: 0px;
    align-items: start;


}

.social-media-fot {
    margin-bottom: 0px;

}

.social-media {

    text-align: start;

}

.subscribe-inf {
    display: flex;
    gap: 24px;

}

.subscribe-text {

    text-align: start;

}

.footer-input {

    width: 264px;
    margin-bottom: 0px;

}

.subscriber-button-sub {

    margin: 0px;
}